.notification {
  position: fixed;
  top: 20px;
  left: 110%;
  width: 340px;
  z-index: 2;
  padding: 22px 30px;
  border-radius: 12px;
  background-color: #ffc350;
  box-shadow: 0 0 10px grey;
}

@keyframes showup {
  from {
    left: 110%;
  }

  to {
    left: calc(100% - 360px);
  }
}

@keyframes hideup {
  from {
    left: calc(100% - 360px);
  }

  to {
    left: 110%;
  }
}

.show {
  animation: showup 0.3s ease-out;
  animation-fill-mode: forwards;
}

.hide {
  animation: hideup 0.3s ease-out;
  animation-fill-mode: forwards;
}
