* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 0.4s ease, color 0.3s ease;
}

:root {
  --navbar-color: #fff;
  --text-color: #000;
  --background-color: #eee;
}

.App {
  text-align: center;
}

.container {
  width: 75%;
  margin: 50px auto;
  position: relative;
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  /* overflow: auto;
  border-style: solid;
  border-width: 2px;
  border-color: orange; */
  box-shadow: 0 0 20px #82c0ff; 
}

body {
  background-color: var(--background-color);
}

.dark-mode {
  --navbar-color: #15202B;
  --text-color: #fff;
  --background-color: #212e3a;
}


